{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <p>Welcome, {{user}}</p>
            <a href="{% url 'home' %}">Receipts</a>
            <a href="{% url 'category_list' %}">Categories</a>
            <a href="{% url 'account_list' %}">Accounts</a>
            <a href="{% url 'create_receipt' %}">Add Receipt</a>
            <a href="{% url 'create_category' %}">Add Category</a>
            <a href="{% url 'create_account' %}">Add Account</a>
            <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

</html>