{% extends 'receipts/base.html' %}

{% block title %}
My Receipts
{% endblock title %}
{% block content %}
<h1>My Receipts</h1>
<table>
    <thead>
        <tr>
            <th><a href="{% url 'vendor_order' %}">Vendor</a></th>
            <th><a href="{% url 'date_order' %}">Date</a></th>
            <th><a href="{% url 'category_order' %}">Category</a></th>
            <th><a href="{% url 'account_order' %}">Account</a></th>
            <th><a href="{% url 'total_order' %}">Total</a></th>
            <th>Tax</th>
            <th>Grand Total</th>
        </tr>
    </thead>
    <tbody>
        {% for receipt in receipt_list %}
        <tr>
            <td>{{ receipt.vendor }}</td>
            <td>{{ receipt.date|date:"m/d/y" }}</td>
            <td>{{ receipt.category }}</td>
            <td>{{ receipt.account }}</td>
            <td>{{ receipt.total }}</td>
            <td>{{ receipt.tax }}</td>
            <td>{{ receipt.total|add:receipt.tax|floatformat:2 }}</td>
        </tr>
        {% endfor %}
</table>
{% endblock content %}