body {
  background-color: #E5E3E4;
  font-weight: bold;
  font-size: large;
  font-family: 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: #5BA199;
}

a:hover {
  color: #BBC6C8;
}

h1 {
  color: #469597;
  text-align: center;
  border-bottom: 2px ridge #469597;
}

h2 {
  color: #DDBEAA;
  text-align: center;
}

input {
  height: 1.5em;
  margin: 0;
  padding: .25em .5em;
}

select[multiple] {
  height: 7.5em;
}

select {
  height: 2em;
}

form {
  text-align: center;
}

nav {
  background-color: #DDBEAA;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  font-size: large;
}

nav a {
  padding-top: 15px;
}

table {
  width: 100%;
}

th {
  padding: 5px;
  background: aliceblue;
}

td {
  text-align: center;
}

table tbody tr:nth-child(even) {
  background: rgba(0, 0, 0, .1);
}

/* done! */